---
import { getCollection } from "astro:content";
import PostCard from "src/components/PostCard.astro";
import ProjectCard from "src/components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";

const projects = await getCollection("projects");
const posts = await getCollection("posts");
---

<Layout>
    <div class="flex flex-col gap-4 p-8 mx-auto w-3/4">
        {/* header */}
        <section class="self-center w-min">
            <h1 class="text-3xl font-bold text-nowrap animate-typewriter">
                Hi, Jeremy here!
            </h1>
        </section>

        {/* projects */}
        <section class="flex flex-col gap-2">
            <h2 class="text-xl font-semibold"># Projects</h2>
            <div class="grid grid-cols-1 gap-2 md:grid-cols-2 xl:grid-cols-3">
                {projects.map((project) => (<ProjectCard project={project.data} />))}
            </div>
        </section>

        {/* posts */}
        <section class="flex flex-col gap-2">
            <h2 class="text-xl font-semibold"># Musings</h2>
            <div class="grid grid-cols-1 gap-2 md:grid-cols-2 xl:grid-cols-3">
                {posts.map((post) => (<PostCard post={post.data} />))}
            </div>
        </section>

        {/* links */}
        <section>
            <h2 class="text-xl font-semibold"># Links</h2>
            <ul class="flex gap-2">
                <li>Github</li>
                <li>LinkedIn</li>
            </ul>
        </section>
    </div>
</Layout>

<style>
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blinkCursor {
    0%, 50% {
      border-right-color: black; /* Cursor visible */
    }
    51%, 100% {
      border-right-color: transparent; /* Cursor hidden */
    }
  }

  .animate-typewriter {
    overflow: hidden; /* Ensures the text is hidden initially */
    white-space: nowrap; /* Prevents text from wrapping */
    border-right: 3px solid black; /* Creates the cursor */
    animation: typewriter 1s steps(16, end) 1s 1 normal both,
               blinkCursor 1s steps(1, end) infinite;
  }
</style>
