---
import links from "src/assets/footer-links.json";
---

<div class="flex flex-col items-center w-full">
    <ul class="flex gap-4">
        {
            links.links.map((link) => (
                <li class="hover:underline decoration-2">
                    <a href={link.href} target="_blank">
                        {link.name}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
