---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{title}</title>

<meta property="og:title" content="Hi, Jeremy here! 👋" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://jeremychuawx.github.io/" />
<meta
    property="og:description"
    content="I am Jeremy and I like to build things."
/>
<!-- <meta -->
<!--     property="og:image" -->
<!--     content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp" -->
<!-- /> -->
<!-- <meta property="og:image:alt" content="" /> -->

<meta name="generator" content={Astro.generator} />
