---
import type { Post } from "src/content.config";

interface Props {
    post: Post;
}

const { post } = Astro.props;
---

<a href={`/post/${post.slug}`} class="group">
    <div
        class="flex flex-col gap-1 p-4 h-full border-2 transition duration-150 ease-out group-hover:bg-white aspect-square group-hover:shadow-[5px_5px_0_0_rgba(0,0,0,1)] group-hover:-translate-[2.5px]"
    >
        <h3 class="text-lg font-semibold">{post.name}</h3>
        <p class="line-clamp-5">{post.description}</p>
        <div class="flex flex-wrap gap-1 mt-auto w-full">
            {
                post.tags.map((tag) => (
                    <span class="py-1 px-2 text-xs bg-black rounded-full group-hover:text-white text-primary">
                        {tag}
                    </span>
                ))
            }
        </div>
    </div>
</a>
