---
import type { Post } from "src/content.config";

interface Props {
    post: Post;
}

const { post } = Astro.props;
---

<div class="p-4 border-2 transition duration-150 ease-out hover:shadow-[5px_5px_0_0_rgba(0,0,0,1)] hover:-translate-[2.5px]">
    <h3 class="text-lg">{post.name}</h3>
</div>
