---
import Layout from "src/layouts/Layout.astro";

interface Props {
    title: string;
    tags: string[];
}

const { title, tags } = Astro.props;
---

<Layout title={title}>
    <div
        class="flex flex-col gap-y-16 items-center py-12 px-1 mx-auto max-w-[1500px]"
    >
        {/* header */}
        <div class="self-start">
            <h1 class="text-xl font-extrabold animate-typewriter">
                Hey, Jeremy here!
            </h1>
        </div>

        <div
            class="flex flex-col p-4 w-full bg-white border-2 shadow-[5px_5px_0_0_rgba(0,0,0,1)] -translate-[2.5px]"
        >
            {/* title */}
            <h1 class="pb-1 text-xl font-extrabold text-nowrap">
                {title}
            </h1>

            {/* tags */}
            <text class="flex gap-x-2 pb-4 text-sm text-gray-400">
                {tags.join(" | ")}
            </text>

            {/* body */}
            <article>
                <slot />
            </article>
        </div>
    </div>
</Layout>
