---
import Layout from "src/layouts/Layout.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
    <div
        class="flex flex-col gap-y-16 items-center py-12 px-1 mx-auto max-w-[1500px]"
    >
        {/* header */}
        <div class="flex pl-3 w-full">
            <a href="/">
                <h1
                    class="text-xl font-extrabold text-nowrap animate-typewriter"
                >
                    {title}
                </h1>
            </a>
        </div>

        {/* body */}
        <article
            class="p-4 w-full bg-white border-2 shadow-[5px_5px_0_0_rgba(0,0,0,1)] -translate-[2.5px]"
        >
            <slot />
        </article>
    </div>
</Layout>
