---
import "../styles/global.css";
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <Head />
	</head>
	<body>
		<slot />
	</body>
</html>
