---
import "@fontsource-variable/martian-mono";
import "src/styles/global.css";
import Head from "src/components/Head.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <Head />
    </head>
    <body class="flex flex-col gap-y-16 p-12 mx-auto w-3/4 bg-primary">
        <slot />
    </body>
</html>
