---
import "../global.css";
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <Head />
	</head>
	<body class="font-mono bg-[#fef0cb]">
		<slot />
	</body>
</html>
