---
import "@fontsource-variable/martian-mono";
import "src/styles/global.css";
import Head from "src/components/Head.astro";
import Footer from "src/components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <Head />
    </head>
    <body
        class="flex flex-col gap-y-16 py-12 px-4 md:p-12 md:mx-auto md:w-3/4 bg-primary"
    >
        <slot />
        <Footer />
    </body>
</html>
