---
import "@fontsource-variable/martian-mono";
import "src/styles/global.css";
import Head from "src/components/Head.astro";
import Footer from "src/components/Footer.astro";

interface Props {
    title?: string;
}

const { title = "Hey, Jeremy here! 👋" } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <Head title={title} />
    </head>
    <body class="bg-primary">
        <slot />
        <Footer />
    </body>
</html>
